<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="client_id" value="151279721555255"/>
    <add key="appKey" value="9a703a2552981903b1c9a431804af826"/>
    <add key="appSecret" value="989ae6e3f64e32d97fb7f40f6e33c7d9"/>
    <add key="PAGE_TOKEN" value="https://graph.facebook.com/oauth/authorize"/>
    <add key="CALLBACK_URL" value="http://127.0.0.1/FbTracker"/>
    <add key="ClientType" value="40"/>
  </appSettings>  

</configuration>
