<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="client_id" value="161924267186124"/>
    <add key="appKey" value="741d66bac1bbbad52ec40a1fedafe8e1"/>
    <add key="appSecret" value="85c8249e1e741731dbb0f52dc46f582c"/>
    <add key="PAGE_TOKEN" value="https://graph.facebook.com/oauth/authorize"/>
    <add key="CALLBACK_URL" value="http://127.0.0.1/FbTracker"/>
    <add key="ClientType" value="30"/>
  </appSettings>  

</configuration>
